name: "Github Actions BaiduTieBa-DailySignIn"

on:
  push:
    branches: 
      - main
  schedule:
    - cron:  '10 1 * * *'

jobs:
  BaiduTieBa-DailySignIn:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Python3 Init'
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: 'Install requirements'
        run: pip install -r requirements.txt
      - name: 'DailySignIn'
        env:
          SCKEY: ${{ secrets.SCKEY }}
          BDUSS: ${{ secrets.BDUSS }}

        run: |
          python3 DailySignIn.py